@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&family=Radio+Canada:wght@400;500&family=Roboto+Condensed&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Ubuntu:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Radio Canada', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif; */
.logo {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  position: relative;
  left: 10%;
  cursor: pointer;
}

.header {
  height: 100vh;
  background-image: linear-gradient(120deg, #3c392c, #0c0c11);
}

.logo strong {
  font-size: 35px;
}

.text1 {
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}

.text2 {
  font-size: 55px;
  font-family: 'Roboto Condensed', sans-serif;
}

span {
  color: crimson;
}

.text3 {
  font-size: 35px;
  font-family: 'Ubuntu', sans-serif;
}

.text31 {
  font-size: 25px;
  font-family: 'Radio Canada', sans-serif;
}
.text31 div{
  color: crimson;
}
.text3 span {
  color: crimson;
}

.logo strong span {
  color: crimson;
}

.menubar {
  display: none;
  position: fixed;
  right: 10px;
}

.menubar img {
  height: 30px;
}

.intropage {
  display: flex;
  height: 93vh;
  justify-content: space-around;
  align-items: center;
  color: white;

}

.menu {
  font-family: 'Radio Canada', sans-serif;
  display: flex;
  margin-right: 10%;
}

.img img {
  height: 80vh;
}

.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  margin-right: 25px;
  font-size: 21px;
  color: white;
  display: block;
  position: relative;
}

.menu li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: crimson;
  transform-origin: left;
  transition: transform 0.25s ease-out;
}

.menu li a:hover:after {
  transform: scaleX(1);
  transform-origin: right;
}



.about {
  width: 100%;
  height: 65vh;
}

.abouttag {
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;

}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}


.square {
  width: 80px;
  height: 3px;
  background-color: crimson;
}

.abouttag:nth-child(1) {
  text-align: center;
}
.services{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.sercard{
  width: 300px;
  height: 200px;
  background-color: #2727df;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sercard p{
  margin-top: 8px;
  padding: 0 8px;
}

.sercard img{
  height: 50px;
}
.aboutimg img {
  height: 400px;
}

.aboutcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutrow {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 25px; */
}

.abouttext {
  display: block;
  width: 400px;
  margin-top: 13px;
  text-align: justify;
}
.team_card{
  margin-top: 20px;
  height: 250px;
  width: 300px;
  margin: 12px 12px 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #232329;
  color: white;
  border-radius: 12px;
  transition: ease-in-out 0.7s;
}
.team_card:hover{
  background-color: crimson;
  /* position: fixed; */
  height: 252px;
  width: 302px;
}
.team_card:hover i{
  color: white;
}
.team_mem{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;

}
.team_card img{
  height: 100px;
  border-radius: 50%;
}
.team_m_name{
  text-align: center;
  font-family: 'Radio Canada', sans-serif;
  font-size: 21px;

}
.team_m_about{
  text-align: center;
  padding: 20px;
  padding-top: 0;
  font-family: 'Ubuntu', sans-serif; 

}
.aboutimg{
  width: 250px;
  height: 400px;
}

.cv {
  margin: 20px 0;
}

.cv button {
  padding: 10px 12px;
  background-color: crimson;
  font-family: 'Roboto', sans-serif;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
.skill_level{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 12px;
}
.html{
  background-color: #0c0c11;
  width: 40%;
  height: 15px;
  cursor: pointer;
}
.img{
  width: 50%;
  margin-top: 40px;
}
.intro{
  width: 40%;
}
.progress_html{
  width: 90%;
  background-color: crimson;
  height: 15px;
}
.progress_css{
  width: 70%;
  background-color: crimson;
  height: 15px;
}
.progress_js{
  width: 80%;
  background-color: crimson;
  height: 15px;
}
.progress_cpp{
  width: 90%;
  background-color: crimson;
  height: 15px;
}
.progress_python{
  width: 80%;
  background-color: crimson;
  height: 15px;
}
.progress_django{
  width: 60%;
  background-color: crimson;
  height: 15px;
}
.progress_php{
  width: 80%;
  background-color: crimson;
  height: 15px;
}
.progress_jquery{
  width: 80%;
  background-color: crimson;
  height: 15px;
}
.contact{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50vh;
  margin-bottom: 50px;
}
.cont_form{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
}
.input_box{
  width: calc(100%/2 - 20px);
  margin: 15px 0 12px 0;
}
.btn button{
  padding: 10px 15px;
  border-radius: 5px;
  background-color: crimson;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 21px;
}

.input_box input{
  width: 100%;
  font-size: 25px;
  height: 50px;
}
.input_box input:focus, input:valid{
  border-bottom: 2px solid crimson;
}

.team_m_img{
  margin-top: 8px;
}
.team_m_img i{
  font-size: 35px;
  color: crimson;
  transition: ease-in-out 0.7s;
}


@media(max-width: 900px) {
  .menu {
    display: none;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: #0c0c11;
    height: 60vh;
    top: 0px;
    padding-top: 30px;
  }
  .menu li{
    margin: 30px;
  }
  .menu li a{
    font-size: 25px;
  }
  .menubar {
    background-color: antiquewhite;
    position: fixed;
    right: 10%;
    padding: 6px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
}

@media(max-width: 850px) {
  .img img {
    height: 50vh;
  }
}
@media(max-width: 600px) {
  .img img {
    height: 35vh;
  }
  .text2{
    font-size: 40px;
  }
  .text3{
    font-size: 25px;
  }
  .aboutcontent{
    width: 100%;
    margin-top: 50px;
  }
  
  .aboutrow{
    flex-direction: column;
  }
  .about{
    height: 130vh;
  }
  .input_box input{
    height: 30px;
  }
  .input_box{
    width: 100%;
  }
}
@media(max-width: 500px){
  .intropage{
    flex-direction: column;
    justify-content: center;
  }
  .intro div{
    margin: 10px;
  }
  .img{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .intro{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
@media(max-width: 700px){
  .abouttext{
    width: 300px;
  }
}
@media(max-width: 350px){
  .abouttext{
    width: 200px;
  }
  
  .about{
    height: 130vh;
  }
  .team_card{
    width: 290px;
  }
  
}